<mat-form-field>
  <input matInput type="text" (keyup)="doFilter($event.target.value)">
</mat-form-field>

<mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{ element.date.toDate() | date }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell mat-sort-header *matHeaderCellDef> State </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Calories </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{ element.calories | number }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
